@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bft21h');
  src:  url('fonts/icomoon.eot?bft21h#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bft21h') format('truetype'),
    url('fonts/icomoon.woff?bft21h') format('woff'),
    url('fonts/icomoon.svg?bft21h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-del:before {
  content: "\e919";
}
.icon-bbs-03:before {
  content: "\e900";
}
.icon-bbs-02:before {
  content: "\e901";
}
.icon-bbs-01:before {
  content: "\e902";
}
.icon-link-03:before {
  content: "\e903";
}
.icon-link-02:before {
  content: "\e904";
}
.icon-link-01:before {
  content: "\e905";
}
.icon-love:before {
  content: "\e906";
}
.icon-edit:before {
  content: "\e907";
}
.icon-chat-03:before {
  content: "\e908";
}
.icon-chat-02:before {
  content: "\e909";
}
.icon-chat-01:before {
  content: "\e90a";
}
.icon-arrow:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90c";
}
.icon-reset:before {
  content: "\e90d";
}
.icon-map:before {
  content: "\e90e";
}
.icon-tag-03:before {
  content: "\e90f";
}
.icon-tag-02:before {
  content: "\e910";
}
.icon-tag-01:before {
  content: "\e911";
}
.icon-zan:before {
  content: "\e912";
}
.icon-share:before {
  content: "\e913";
}
.icon-back:before {
  content: "\e914";
}
.icon-menu-user:before {
  content: "\e915";
}
.icon-menu-chat:before {
  content: "\e916";
}
.icon-menu-home:before {
  content: "\e917";
}
.icon-female:before {
  content: "\e918";
}
